<li id="post-<%= post.id %>-">
  <%= link_to gravatar_for(post.user, size: 40), user_confirmation_path(post.user) %>
  <span class="user"><%= link_to post.user.name,
                                 user_confirmation_path(post.user) %></span></br>
  <span class="content"><%= post.content %></span></br>
  <%= image_tag post.image if post.image? %>
  <span class="timestamp"> Posted <%= time_ago_in_words(post.created_at) %> ago.
    <td><%= link_to "Show", post %></td>
    <% if current_user == post.user %>
    <%= button_to "Destroy", post, method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %></br>
    Comments:</br>
    <div class="row">
      <%= render "comments/comment_form", post: post, parent_id: nil, comment_new: Comment.new %>
      <div class="col-md-11">
       <%= comments_tree_for post.comments.where(parent_id: nil).hash_tree(limit_depth: 2) %>
      </div>
    </div>
</li>
